/* add your CSS here */
body{
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: justify;
}

.card{
    width: 300px;
    padding: 10px 15px ;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    /* background-color: black; */ /*<-- Incase the background image doesn't work, use this.*/
    background: url("https://i.imgur.com/VHDz2Lw.gif");
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: 10px 10px #DDD;
}
.facts{
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    padding: 0px 15px;
    margin-bottom: 5px;
}

img {
    width: 300px;
    max-width: 100%;
    height: 200px;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    margin-bottom: 10px;
}

.fact-list{
    list-style-type: none;
    padding: 0px;
}

.fact-list span{
    font-weight: bold;
}